<section>
    <h1 class="gothic-neo mb-8 pt-20 text-center text-gray-700">Library</h1>
    <div class="container mx-auto px-2">
        <div class="flex">
            <div class="w-1/3 sm:w-1/6">
                <ul class="category-list list-reset">
                    <li><button id="showall" class="bg-dark-mode border border-gray-100 text-gray-100 hover:border-gray-700 hover:bg-gray-100 hover:text-gray-700 p-2 rounded-l-lg w-full text-sm sm:text-md">Show All</button></li>
                    <% if @categories.any? then %>
                        <% @categories.each do |cat| %>
                            <li><button id="<%= cat.class %>" class="bg-dark-mode border border-gray-100 text-gray-100 hover:border-gray-700 hover:bg-gray-100 hover:text-gray-700 p-2 rounded-l-lg w-full text-sm sm:text-md"><%= cat.name %>/button></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <div class="items border border-gray-100 text-gray-100 rounded-r-lg w-2/3 sm:w-5/6 shadow-md bg-dark-mode">
                <% if @items.any? then %>
                    <% @items.each do |item| %>
                        <div class="item <%= item.category.name %> p-4 sm:pl-8 sm:py-4">
                            <p class="item-content text-sm sm:text-md tracking-normal leading-normal pb-1 text-grey-darkest"><%= item.content %></p>
                            <p class="item-notes gothic-neo text-gray-100"> <%= item.notes %></p>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        <div class="absolute bottom-0 mb-12 container">
        <div class="flex">
        <input placeholder="New Item" class="bg-dark-mode gothic-neo p-2 rounded text-gray-100 <% if @categories.any? %> w-9/12 <% else %> w-full <% end %>" type="text" name="new-item-field" id="new-item-field">
        <% if @categories.any? then %>
            <select name="categories" class="w-2/12 ml-2 bg-dark-mode text-gray-100">        
              <% @categories.each do |cat| %>
                    <option value="<%= cat.id %>"><%= cat.name %></option>            
            <% end %>        
        </select>
        <% end %>
        
        </div>
        </div>
    </div>
</section>

<% content_for :javascripts do %>
<script>
    $(function () {
        $('.category-list button').click(function () {
            var get_id = this.id;
            var get_current = $('.items .' + get_id);

            $('.item').not(get_current).hide(500);
            get_current.show(500);
        });
        $('#showall').click(function () {
            $('.item').show(500);
        });
    });

    function autosave() {
        var timeoutId;
        $("#timesheet input, #timesheet textarea").on("input propertychange change", function () {
            clearTimeout(timeoutId);
            timeoutId = setTimeout(function () {
                // Runs 1 second (1000 ms) after the last change
                saveToDB();
            }, 1000);
        });
    }

    function saveToDB() {
        console.log("Saving to the db");
        var categories = [];
        $(".category-list .new-category").each(function (index) {
            items.push({
                name: $(this).find('.time-start').val(),
                color: $(this).find('.task-body').val(),                
            });
        });     
        var items = [];
        $(".items .new-item").each(function (index) {
            items.push({
                content: $(this).find('.item-content').val(),
                notes: $(this).find('.item-notes').val(),                
            });
        });
        console.log(timeblock);
        $.ajax({
            async: false,
            type: "POST",
            data: {
                category: categories,
                item: items
            },
            url: "/library/autosave",
            beforeSend: function (xhr) {
                // Let them know we are saving
                $(".form-status").html("Creating and Saving...");
            },
            fail: function () {
                $(".form-status").html("");
                $(".form-status").html("There was a problem saving...");
            },
            success: function () {
                var d = new Date();
                $(".form-status").html("");
                $(".form-status").html("Saved! Last: " + d.toLocaleTimeString());
            }
        });
    }
</script>
<% end %>