<body class="bg-dark-mode">
    <section>
        <h1 class="gothic-neo mb-8 pt-20 text-center text-gray-100">Library</h1>
        <div class="container mx-auto px-2">
            <div class="flex">
                <div class="w-1/3 sm:w-1/6">
                    <ul class="category-list list-reset">
                        <li><button id="showall" class="bg-dark-mode-lighter border border-gray-700 text-gray-100 hover:border-gray-700 hover:bg-gray-100 hover:text-gray-700 p-2 rounded w-full text-sm sm:text-md">Show All</button></li>
                        <% if @categories.any? then %>
                            <% @categories.each do |cat| %>
                                <li><button id="<%= cat.class %>" val="<%= cat.id %>" class="bg-dark-mode-lighter border border-gray-700 text-gray-100 hover:border-gray-700 hover:bg-gray-100 hover:text-gray-700 p-2 rounded-l-lg w-full text-sm sm:text-md"><%= cat.name %>/button></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
                <div class="items bg-dark-mode-lighter border border-gray-700 ml-4 rounded shadow-md sm:w-5/6 text-gray-100 w-2/3">
                    <% if @items.any? then %>
                        <% @items.each do |item| %>
                            <div class="item <%= item.category.name %> p-4 sm:pl-8 sm:py-4">
                                <p class="item-content text-sm sm:text-md tracking-normal leading-normal pb-1 text-grey-darkest"><%= item.content %></p>
                                <p class="item-notes gothic-neo text-gray-100"><%= item.notes %></p>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="absolute bottom-0 mb-12 container">
                <form action="/item/create" class="flex" accept-charset="UTF-8" id="item-form" data-remote="true" method="get"><input name="utf8" type="hidden" value="✓">
                    <input type="text" placeholder="New Item" name="new_item" id="new_item" class="bg-dark-mode-lighter border border-gray-700 gothic-neo p-2 pl-8 rounded text-gray-100 <% if @categories.any? %> w-9/12 <% else %> w-11/12 <% end %>">
                    <% if @categories.any? then %>
                        <select name="category" id="category" class="w-2/12 border border-gray-700">
                            <% @categories.each do |cat| %>
                                <option value="<%= cat.id %>"><%= cat.name %></option>
                            <% end %>
                        </select>
                    <% end %>
                    <div class="relative w-1/12 bg-dark-mode-lighter border border-gray-700 text-gray-100 text-left p-1 flex rounded justify-around hover:bg-gray-800">
                    <input type="submit" value="Add" class="bg-transparent z-20" />
                    <%= inline_svg "add-list.svg", class: 'add-list h-8 icon right-0 w-6'%>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

<% content_for :javascripts do %>
<script>
    $(function () {
        $('.category-list button').click(function () {
            window.category_id = this.val;             
            window.category_name = this.id;
            var get_current = $('.items .' + window.category_name);

            $('.item').not(window.category_name).hide(500);
            window.category_name.show(500);
            console.log(window.category_name);
        });
        $('#showall').click(function () {
            $('.item').show(500);
        });        
    });

    $("add-list").on("click").trigger("submit");

    function save_item() {
        $("#item-form").on('submit', function (event) {
            event.preventDefault();
            console.log("Saving item");
            category_id = window.category_id;
            item = $("#new-item").val();

            saveToDB();
        });
    }

    function save_category() {
        console.log("Saving category");

        saveToDB();
    }

    function saveToDB() {
        console.log("Saving to the db");        
        $.ajax({
            async: false,
            type: "GET",
            data: {
                item_category: category_id,
                item_content: item_content,
                item_notes: item_notes,
                category_name: category_name,
                category_class: category_class
            },
            url: "/library/create",
            beforeSend: function (xhr) {
                // Let them know we are saving
                $(".form-status").html("Creating and Saving...");
            },
            fail: function () {
                $(".form-status").html("");
                $(".form-status").html("There was a problem saving...");
            },
            success: function () {                
                $(".form-status").html("");
                $(".form-status").html("Saved! Last: " + d.toLocaleTimeString());
            }
        });
    }
</script>
<% end %>