<% if @item %>    
    <% random_id = Randomstring.generate(4) %>
    <div class="item <%= Category.find_by(id: @item.category_ids).selector %> pl-6 py-1 list-none flex">
        <button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#<%= random_id %>"><%= inline_svg "clipboard.svg", class: 'copy-clipboard w-6 mr-2'%></button>
        <p id="<%= random_id %>" class="item-content text-sm sm:text-md tracking-normal leading-normal text-gray-100"><%= @item.content %></p>
        <% if @item.notes %>
            <p id="item-notes" class="hidden bg-gray-300 fixed gothic-neo m-12 p-8 right-0 rounded text-gray-800 top-0 z-20 <%= random_id %>">Notes: <%= item.notes %></p>
        <% end %>
    </div>                        
<% else %>
    <% nil %>
<% end %>